<?xml version="1.0" encoding="UTF-8" ?>
<!-- /*
 * MAGIX CMS Copyright (c) 2008 - 2018 Gerits Aurelien,
 * http://www.magix-dev
 * Dual licensed under the MIT AND GPL Version 3 licenses.
 */-->
<config>
	<authorized>
		<allow_access>*</allow_access>
	</authorized>
	<data>
		<authors>
			<author>
				<name>Salvatore Di Salvo</name>
				<website href="http://www.disalvo-infographiste.be" />
			</author>
			<author>
				<name>Gerits Aurelien</name>
				<website href="http://www.magix-cms.com" />
			</author>
		</authors>
		<release>
			<date_create>28/01/2019</date_create>
			<date_update>24/05/2023</date_update>
			<version>2.1</version>
			<phase>Stable</phase>
		</release>
		<bind>
			<core>
				<name>category</name>
			</core>
			<core>
				<name>pages</name>
			</core>
		</bind>
		<support>
			<ticket href="https://github.com/magix-cms/magixcms/issues"></ticket>
			<git href="https://github.com/magix-cms/magixcms"></git>
		</support>
	</data>
</config>